.schedule {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 100;
	    -ms-flex: 100 0 40em;
	        flex: 100 0 40em;
}

.nav {
	position: relative;
	margin-bottom: 1%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#prev, #next, #counter {
	margin: 0 1% 0 1%;
}

table {
	border-collapse: collapse;
	height: 100%;
	width: 100%;
}

/* eatd is there for block alignment */
td {
	min-width: 8em;
	border: 1px solid black;
	height: 35em;
}

.eatd {
	position: relative;
	height: 100%;
}

.block {
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	cursor: pointer;
}

#start_time {
	position: absolute;
	top: 5px;
	left: 5px;
}

#end_time{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
